<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\Project\xiaobanlong5.2.0\proj.win32\Debug.win32\xiaobanlong.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\Project\xiaobanlong5.2.0\proj.win32\Debug.win32</StartWorkingDirectory>
  </propertyGroup>
</Project>